@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #333;
	overflow-x: hidden;
	color: #222;
}
/* CSS RESET END */
.container {
	background-color: #fafafa;
	transform-origin: top left;
	transition: transform 0.5s linear;
	width: 100vw;
	min-height: 100vh;
	padding: 50px;
}
.container.show-nav {
	transform: rotate(-20deg);
}
